<div id="container">
  <div *ngFor="let lecture of lectures">
    <div>
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          [src]="imagePath(lecture.image)"
          [alt]="lecture.first_name"
          width="150"
          height="150"
        />
        <div class="card-body">
          <p class="card-text">
            {{ lecture.first_name }}
            {{ lecture.last_name }}
            <br />
            {{ lecture.email }}
            {{ lecture.phone }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
