<br />
<h1>Curses</h1>
<br />

<div id="container">
  <div class="div">
    <input
      (keydown)="findCurse($event)"
      [(ngModel)]="searchFieldValue"
      type="text"
      placeholder="Search by category"
      class="form-control"
    />
  </div>

  <button (click)="clearSearch()" type="button">X</button>
  <br />

  <button type="button" class="btn btn-primary" (click)="exportCursesData()">
    Export Data
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        Curse Name
        <button (click)="sortCurses('name')" class="btn btn-default">
          <i [ngClass]="displaySort('name')"></i>
        </button>
      </th>
      <th>
        Curse Price
        <button (click)="sortCurses('price')" class="btn btn-default">
          <i [ngClass]="displaySort('price')"></i>
        </button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curse of curses">
      <td class="d-flex flex-row">
        <div class="me-3">
          {{ curse.curse_code }}
        </div>
        <div>
          <div class="fw-bold">{{ curse.name }}</div>
          <span class="fw-light">{{ curse.price }}</span>
        </div>
        <div>
          <button (click)="toggleShow()">
            <i class="bi bi-node-plus"></i>
          </button>
        </div>

        <div *ngIf="isShown" class="row container-fluid" id="divshow">
          <td>{{ curse.category }}</td>
          <td>{{ curse.description }}</td>
          {{ curse.lecture_name }}
          {{ curse.lessons }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
