<br />
<br />
<div class="input-group rounded">
  <input
    (keydown)="findCurse($event)"
    type="search"
    class="form-control rounded"
    placeholder="Search for curse category"
    aria-label="Search"
    aria-describedby="search-addon"
  />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
<br />

<button type="button" class="btn btn-primary" (click)="exportCursesData()">
  Export Data
</button>

<div *ngFor="let curse of curses">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <table>
            <tr>
              <th>Curse Name:</th>
              <th>Price:</th>
            </tr>
            <tr>
              <td>
                {{ curse.curse_code }}
                {{ curse.name }}
              </td>
              <td>
                {{ curse.price }}
              </td>
            </tr>
          </table>
        </button>
      </h2>

      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <span>Curse starting date: </span>{{ curse.date }}<br />
          <span>Curse description: </span>{{ curse.description }}<br />
          <span>Curse lecture name: </span> {{ curse.lecture_name }}<br />
          <span>Curse number of lessons: </span> {{ curse.lessons }}<br />
        </div>
      </div>
    </div>
  </div>
</div>
